@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Manage Users";
}

<h2>Users</h2>
<p><a class="btn btn-primary" asp-action="Create">Create new user</a> <a class="btn btn-primary" asp-action="Students">Manage Students</a></p>
<table class="table">
    <thead>
        <tr><th>Email</th><th>Actions</th></tr>
    </thead>
    <tbody>
    @foreach(var u in Model)
    {
        <tr>
            <td>@u.Email</td>
            <td><!-- future actions --></td>
        </tr>
    }
    </tbody>
</table>
